.past-history2 {
  padding: 20px;
  border: 3px dashed #444;
  border-radius: 10px;
  margin: 5vh auto;
  background-color: #333;
  color: #f0f0f0;
  max-width: 1200px;
}

.past-history2 h2 {
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
}

.past-history2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.past-history2 li {
  margin-bottom: 20px; /* Increase margin bottom for spacing between list items */
  padding: 15px;
  border-radius: 8px;
  background-color: #444;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align items vertically */
}

.past-history2 li .d1 {
  display: flex;
  align-items: center;
  flex: 1;
  width: 25%;
}

.past-history2 li img {
  width: 100px; /* Adjust image width */
  height: 100px; /* Adjust image height */
  border-radius: 50%;
  object-fit: cover; /* Maintain aspect ratio */
  margin-right: 20px; /* Add some space between image and text */
}

.past-history2 li .details {
  flex: 3; /* Adjust flex to take more space */
}

.past-history2 p {
  margin: 5px 0;
}
